<main>
  <div id="map" style="width: 100%; height: 100vh; z-index: 10;"></div>
  <div
    style="position: fixed; top: 0; right: 0; z-index: 20; padding: 4px"
    id="city-control"
  >
  </div>
</main>

<script>
  // leaflet
  import * as L from "leaflet";
  import "leaflet.markercluster";
  import "leaflet.markercluster/dist/MarkerCluster.Default.css";
  import "leaflet/dist/leaflet.css";

  const DEFAULT_LOC = [37.58333, 36.93333];

  let isError = false;

  document.getElementById("find-this-area")?.addEventListener("click", () => {
    getLocations();
  });

  const setFindThisAreaBtn = (findThisArea) => {
    if (!findThisArea) {
      document.body.classList.remove("find-this-area");
      return;
    }
    document.body.classList.add("find-this-area");
  };

  let map = L.map("map", {
    zoomControl: false,
    maxZoom: 18,
    minZoom: 10,
  });
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors. Bu veri atilan tweetlerin konum bilgileri ile olusturulmustur.',
  }).addTo(map);

  map.on("moveend", () => {
    setFindThisAreaBtn(true);
  });

  map.setView(
    {
      lat: DEFAULT_LOC[0],
      lng: DEFAULT_LOC[1],
    },
    10
  );

  const markers = L.markerClusterGroup();

  let icon = L.icon({
    iconUrl: "/marker.png",

    iconSize: [38, 38],
    shadowSize: [50, 64],
    shadowAnchor: [4, 62],
    popupAnchor: [0, -20],
  });

  const setLoading = (loading) => {
    if (loading) {
      document.body.classList.add("loading");
    } else {
      document.body.classList.remove("loading");
    }
  };

  const generatePopupText = (location) => {
    let result = "";

    result += `
      <div style="font-size: 10px; line-height: 1.6 ">
        <div><b>Adres:</b> ${location?.formattedAddress}</div>
        <div><b>Veri:</b> ${location?.raw?.full_text}</div>
        <div><b>Dogrulama:</b> ${location?.raw?.is_resolved ? "Evet" : "Hayir"}
        </div>

        <div> <b>Veri Kanali:</b> ${location?.raw?.channel || "-"}</div>
        <div>
            <a
              href="https://www.google.com/maps/dir/?api=1&destination=${
                location?.coordinates[0]
              },${location?.coordinates[1]}"
              target="_blank"
              style="font-size: 18px;"
              >Yol Tarifi</a>
        </div>
      </div>
    `;

    return result;
  };

  const getLocations = () => {
    const bounds = map.getBounds();
    setLoading(true);

    const southWest = bounds.getSouthWest();
    const northEast = bounds.getNorthEast();

    const params = new URLSearchParams({
      ne_lat: String(northEast.lat),
      ne_lng: String(northEast.lng),
      sw_lat: String(southWest.lat),
      sw_lng: String(southWest.lng),
    });

    const baseURL = "https://api.afetharita.com/feeds/areas?" + params;

    fetch(baseURL)
      .then((res) => res.json())
      .then((body) => {
        const transformedData = body.results.map((location) => {
          return {
            coordinates: location.loc,
            raw: location.raw,
            formattedAddress: location.formatted_address,
          };
        });

        markers.clearLayers();

        transformedData.forEach((location) => {
          markers.addLayer(
            L.marker(location.coordinates)
              .bindPopup(generatePopupText(location))
              .setIcon(icon)
          );
        });

        map.addLayer(markers);
      })
      .catch(() => {
        isError = true;
        alert("Bir hata olustu. Lutfen daha sonra tekrar dene!");
      })
      .finally(() => {
        if (!isError) {
          setLoading(false);
          setFindThisAreaBtn(false);
        }
      });
  };

  getLocations();

  const CITIES = [
    {
      city: "ADANA",
      coordinates: [37.00167, 35.32889],
    },
    {
      city: "ADIYAMAN",
      coordinates: [37.76472, 38.27861],
    },
    {
      city: "MALATYA",
      coordinates: [38.355, 38.30972],
    },
    {
      city: "OSMANIYE",
      coordinates: [37.07417, 36.24694],
    },
    {
      city: "GAZIANTEP",
      coordinates: [37.06667, 37.38333],
    },
    {
      city: "HATAY",
      coordinates: [36.2, 36.16667],
    },
    {
      city: "ŞANLIURFA",
      coordinates: [37.15, 38.8],
    },
    {
      city: "KİLİS",
      coordinates: [36.71667, 37.11667],
    },
    {
      city: "DİYARBAKIR",
      coordinates: [37.91417, 40.23056],
    },
    {
      city: "KAHRAMANMARAŞ",
      coordinates: [37.58333, 36.93333],
    },
  ];

  const city = document.getElementById("city-control");

  CITIES.forEach((item) => {
    const button = document.createElement("button");
    button.innerText = item.city;
    button.addEventListener("click", () => {
      map.setView(
        {
          lat: item.coordinates[0],
          lng: item.coordinates[1],
        },
        14
      );
      setTimeout(() => {
        getLocations();
      });
    });
    city.appendChild(button);
  });
</script>

<style>
  #city-control button {
    display: block;
  }
</style>

<style>
  .marker-cluster-small {
    background-color: #49afa5 !important;
  }

  .marker-cluster-small div {
    background-color: #1c9489 !important;
    color: #fff !important;
  }
</style>
